<nav class="navbar py-4 navbar-expand-lg navbar-dark" style="background-color: #45526e">
    <div class="container-fluid">
        <a class="navbar-brand ms-5 text-light" href="{% url 'home' %}" style="font-size:25px;font-weight:bold;"><i
                class="bi bi-book"></i> Ebook<span
                style="color:#FFD700">Ocean</span></a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item ms-5">
                    <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                </li>
                <li class="nav-item dropdown ms-5">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown1" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"> Browse </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'filter_ebook' %}?browse=Computer Science">Computer Science </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'filter_ebook' %}?browse=History"> History </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'filter_ebook' %}?browse=Philosophy">Philosophy</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'filter_ebook' %}?browse=Economics">Economics</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'filter_ebook' %}?browse=True">Free Ebooks</a>
                        </li>
                    </ul>
                <li class="nav-item ms-5 me-2">
                    <a class="nav-link active" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item ms-5">
                    <form class="d-flex" method="get" action="{% url 'filter_ebook' %}">
                        <input style="flex-grow:0px; flex-basis:300px;"
                               class="form-control border rounded-0 rounded-start" type="search"
                               placeholder="Search books" name="search">
                        <button class="btn btn-warning rounded-0 rounded-end" type="submit"><i class="bi-search"></i>
                        </button>
                    </form>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown ms-5 me-5">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi bi-person mx-1" style="color:white"></i> Profile </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' request.user.guid %}">My account</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'order:my_ebooks' %}">My Ebooks</a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item ms-5">
                    <a class="nav-link active" href="{% url 'sign_in' %}"><i class="bi bi-box-arrow-in-right"></i> Sign
                        In</a>
                </li>
                <li class="nav-item ms-5 me-5">
                    <a class="nav-link active btn btn-warning" style="max-width:100px;" href="{% url 'sign_up' %}"><i
                            class="bi bi-person-plus-fill"></i>
                        Sign Up</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>