{% extends 'base.html' %}
{% load static %}
{% block content %}
<img style="width:100%; height:auto;" class="background-image mb-5" src="/static/background1.jpg">
<div class="container">
<h3 style="color:#4a4c54;"><strong>Popular Ebooks</strong></h3><a class="d-flex justify-content-end" href="{% url 'filter_ebook' %}?is_popular=True">(view all)</a></div>
    <div class="container mb-5 mt-3">
        <div class="row">
    {% for z in popular_ebooks %}
            <div class="col ms-4"><a style="text-decoration:none;" href="{% url 'ebook_detail' z.slug %}"><img style="width:100%; height:250px;" src="/web_images/{{ z.cover_image }}"/>
                <h5 class="card-title mt-3" style="color:#4a4c54;">{{ z.title }}</h5></a></div>
        {% endfor %}
            </div>
    </div>
{% if results %}
{% for result in results %}
{% for category, ebooks in result.items %}

<div class="container">
<h3 style="color:#4a4c54;"><strong>{{ category.title }}</strong></h3><a class="d-flex justify-content-end" href="{% url 'filter_ebook' %}?categories={{ category.id }}">(view all)</a></div>
    {% for ebook in ebooks %}
    <div class="container mb-5 mt-3">
        <div class="row">
    {% for z in ebook %}
            <div class="col ms-4"><a style="text-decoration:none;" href="{% url 'ebook_detail' z.slug %}"><img style="width:100%; height:250px;" src="/web_images/{{ z.cover_image }}"/>
                <h5 class="card-title mt-3" style="color:#4a4c54;">{{ z.title }}</h5></a></div>
        {% endfor %}
            </div>
        {% endfor %}
    </div>

    {% endfor %}
    {% endfor %}
    {% else %}
    {% endif %}
    {% include 'footer/footer.html' %}
    {% endblock %}

