{% extends 'base.html' %}
{% block content %}
<section style="background-color: #eee;">
    <div class="container py-5" style="margin-top:20px;margin-bottom:15px;">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="card mb-2">
                    <div class="card-body text-center">
                        <i style="font-size: 100px;" class="bi bi-person-circle"></i>
                        <h5 class="my-3 mb-4">{{ object.first_name}} {{ object.last_name }}</h5>
                        <div class="d-flex justify-content-center mb-2">
                            <a type="button" class="btn btn-primary" href="{% url 'update_profile' user.guid %}">Edit account</a>
                            <a type="button" class="btn btn-outline-danger ms-2" href="{% url 'delete_profile' user.guid %}">Delete account</a>
                        </div>
                        <div class="col-lg-12 mt-4">
                            <div class="card mb-4">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Full Name</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ object.first_name}} {{ object.last_name }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Email</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ object.email }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Birthday</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ object.birthday }}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Country</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{% if object.country %}
                                                <img src='{{ object.country.flag }}'/>
                                                {{ object.country.name }}</p>
                                            {% else %}
                                            <p class="text-muted mb-0">------</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <p class="mb-0">Date Joined</p>
                                        </div>
                                        <div class="col-sm-9">
                                            <p class="text-muted mb-0">{{ object.date_joined.date }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% include 'footer/footer.html' %}
{% endblock %}